name: "Acme"
filePrefix: "Acme"

# The following setting is optional.
# If you set this (to, e.g. master), and you build the policies
# on that branch, then a section is appended to each policy that
# describes the approval. Text will look like:
#
# Last edit made by John Doe (jdoe@email.com) on Wed, 15 Aug 2018 12:45:28 -0400.
# Approved by Joan Smith (jsmith@email.com) on Wed, 15 Aug 2018 16:54:48 -0400 in commit abc123123.
#
# The change author gets credit for the edit.
# The person who committed or merged to the approval branch gets credit for approval.
approvedBranch: master
tickets:
  github:
    token: XXX
    username: strongdm
    repo: comply
  # jira:
  #   username: xxxx     # This is the username you log in to Jira's UI with. Probably your email address.
  #   password: xxxx     # If you don't have a "managed account", use your password in this field. But if your organization
  #                      # uses SAML or OAuth, or Jira's built-in multi-factor authentication, you need to use
  #                      # an API token. Learn more here: https://confluence.atlassian.com/cloud/api-tokens-938839638.html
  #   project: comply
  #   url: https://yourjira
  #   taskType: Task     # This must be an Issue, not a sub-task
  # gitlab:
  #   domain: https://gitlab.example.com:443/ # or https://gitlab.com/
  #   token: token-here
  #   repo: full-slug/of-project
